<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="styles.css")
        title index
    body
        .app

            .app__1 

            .app__2

                .app__2-1 

                .app__2-2
                    .app__2-2-1 

                        .app__2-2-2 
                        .app__2-2-3 